// styles for about section title and sparagraph
.about-paragraph{
    background-color: var(--secondary-background-color);
    padding-bottom: 0px;
    &__title{
        margin-bottom: 50px;
    }

    &__text{
        font-size: 20px;
        color: var(--secondary-font-color);
    }
}